[Unit]
Description=simple_server.js - getting and updating a number
Documentation=
After=network.target

[Service]
Environment=
Type=simple
User=ec2-user
ExecStart=/home/ec2-user/.nvm/versions/node/v20.11.0/bin/node /home/ec2-user/MP2/simple_server.js
Restart=always

[Install]
WantedBy=multi-user.target
